
.addButton{
    box-shadow:none !important;
    background-color: #1f56aa !important;
}
.name, .price, .addButton{
    border-radius: 0px !important;
}

.text-input{
    background-color: #e2e2e2 !important;
    border-radius: 50px;
    border: 1px solid transparent !important;
    background-color: inherit;
    padding-left: 20px;
}
.text-input:hover{
    background-color: #f5f5f5 !important;
}
.text-input:active, .text-input:focus{
    background-color: #fff !important;
    outline: none;
    border: 1px solid #1f56aa !important;
   
}
.text-input::placeholder{
    color: gray
}


