.form-check-input{
    height: 25px;
    width: 25px;
    background-color: #e2e2e2;
    left: 0;
    margin-left: 10px !important;
    cursor: pointer;
}
.card{
    margin-bottom: 10px !important;
}
.text-left{
    margin-left: 10px;
}
label{
    margin: 0;
}
.label{    
    display: block;
    position: relative;

    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.form-check{
    flex-direction: row;
    height: 80px;
    align-items: center;
}
