*{
  padding:0;
  margin:0;
  font-family: 'Noto Sans', sans-serif;
}
.App {
  text-align: center;
  
  
}
.container{
  max-width: 450px;
}

.App-header {
align-items: center;
display: flex;
margin-top: 20px;

}
.text-center{
  height: 75px;
  justify-content: center;
}


   